.list-group {
    list-style: none;
    padding: 0;
  }
  
  .list-group-item {
    padding: 10px 15px;
    margin: 5px 0;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 14px;
  }
  
  .list-group-item:hover {
    background-color: lightblue;
  }
  
  .list-group-item.selected {
    background-color: blue;
  }
  